.scroll-personalizado {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #58aaf8 #f3f4f6; /* thumb, track */
}

.scroll-personalizado::-webkit-scrollbar {
  width: 8px;
}

.scroll-personalizado::-webkit-scrollbar-track {
  background: #f3f4f6; /* fondo */
  border-radius: 8px;
}

.scroll-personalizado::-webkit-scrollbar-thumb {
  background-color: #183a75; /* color del scroll */
  border-radius: 8px;
  border: 2px solid #112c61; /* espacio alrededor */
}

.scroll-personalizado::-webkit-scrollbar-thumb:hover {
  background-color: #1f55c0; /* hover */
}
.inputperso {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  border: 0px solid grey;
  color: black;
  transition: 0.3s;
}

.inputperso:focus {
  border: 1px solid gray;
}

.container {
  background-color: #f3f3f3;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.titulo {
  margin-bottom: 20px;
  color: #0f7cc0;
}

.subtitulo {
  margin-bottom: 20px;
  color: #0f7cc0;
}

.lista {
  overflow: auto;
  max-height: 400px;
}

.opcion {
  border: 1px solid #d5d5d5;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #f0f0f0;
  cursor: pointer;
  transition: background 0.3s;
}
.opcion:hover {
  background: #e5e5e5;
}

.icono {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
}

.texto h3 {
  margin: 0;
  font-size: 16px;
  color: #374151;
}

.cargando {
  background: #f9fafb;
  min-height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #0f7cc0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.proceso {
  background: #f9fafb;
  min-height: 100vh;
  padding: 10px 20px;
}

.fecha {
  color: #003563;
  font-weight: bold;
  font-size: 13px;
}
.fechahijo {
  font-weight: 600;
}
.video-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: auto;
}
.video-container video {
  width: 100%;
  border-radius: 20px;
}
.video-container canvas {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  margin-top: 20px;
}

.zona {
  font-weight: bold;
}
.zona.dentro {
  color: green;
}
.zona.fuera {
  color: red;
}

.estado {
  margin: 20px 0;
}
.reto {
  color: #1d4ed8;
  font-weight: bold;
  font-size: 18px;
}
.contador {
  color: #f59e0b;
  font-weight: bold;
  font-size: 18px;
}
.mensaje-ok {
  color: green;
  font-weight: bold;
}
.error {
  color: red;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.btn.disabled {
  background: gray;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .video-container {
    max-width: 100%;
    height: auto;
  }

  .proceso {
    padding: 10px;
  }

  .reto,
  .contador {
    font-size: 16px;
  }

  .btn {
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 20px;
  }

  .texto h3 {
    font-size: 14px;
  }

  .btn {
    padding: 12px;
    font-size: 14px;
  }

  .video-container canvas {
    top: -10px;
  }
}
